<div class="variant-block">
    <div class="variant-header">
        <h2>Plain slider</h2>
    </div>
    <ng2-slider min="1"
                max="14"
                value="5"
                (onRangeChanged)="plainValueChanged($event, 'plain_1')">
    </ng2-slider>
    <p class="value-box">
        Value: <span class="value-span" id="plain_1">5</span>
    </p>

    <tabset>
        <tab title="HTML">
            <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider min="1"
            max="14"
            value="5"
            (onRangeChanged)="plainValueChanged($event, 'plain_1')">
</ng2-slider>]]>
<p class="value-box">
    Value: <span class="value-span" id="plain_1">5</span>
</p></show-code>
        </tab>
        <tab title="TypeScript">
            <show-code language="typescript" [skinDirectory]="showCodeSkinDirectory">plainValueChanged(event, container:any) {
    var el = this.getElement(container);
    el.innerText = event.startValue;
}

getElement(data){
    if (typeof(data)=='string') {
        return document.getElementById(data);
    }
    if (typeof(data)=='object' && data instanceof Element) {
        return data;
    }
    return null;
}</show-code>
        </tab>
    </tabset>

</div>
<div class="variant-block">
    <div class="variant-header">
        <h2>Range slider</h2>
    </div>
    <ng2-slider
            #range
            min="6"
            max="23"
            startValue="9"
            endValue="21"
            (onRangeChanged)="rangeValueChanged($event, 'range-1-start', 'range-1-end')">
    </ng2-slider>
    <p class="value-box">
        Values: <span class="value-span" id="range-1-start">9</span> - <span class="value-span" id="range-1-end">21</span>
    </p>

    <tabset>
        <tab title="HTML"><show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[
<ng2-slider
        #range
        min="6"
        max="23"
        startValue="9"
        endValue="21"
        (onRangeChanged)="rangeValueChanged($event, 'range-1-start', 'range_1_end')">
</ng2-slider>]]>
<p class="value-box">
    Values: <span class="value-span" id="range-1-start">9</span> - <span class="value-span" id="range-1-end">21</span>
</p></show-code>
        </tab>
        <tab title="TypeScript">
            <show-code language="typescript" [skinDirectory]="showCodeSkinDirectory">rangeValueChanged(event, start:any, end:any) {
    var start_el = this.getElement(start);
    var end_el = this.getElement(end);
    start_el.innerText = event.startValue;
    end_el.innerText = event.endValue;
}

getElement(data){
    if (typeof(data)=='string') {
        return document.getElementById(data);
    }
    if (typeof(data)=='object' && data instanceof Element) {
        return data;
    }
    return null;
}</show-code>
        </tab>
    </tabset>

</div>
<div class="variant-block">
    <div class="variant-header">
        <h2>Slider with step</h2>
    </div>
    <ng2-slider min="10"
                max="100"
                value="25"
                stepValue="5"
                (onRangeChanged)="plainValueChanged($event, 'plain_2')">
    </ng2-slider>
    <p class="value-box">
        Value: <span class="value-span" id="plain_2">25</span>
    </p>

    <tabset>
        <tab title="HTML">
            <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[
<ng2-slider min="10"
            max="100"
            value="25"
            stepValue="5"
            (onRangeChanged)="plainValueChanged($event, 'plain_2')">
</ng2-slider>]]>
<p class="value-box">
    Value: <span class="value-span" id="plain_2">25</span>
</p></show-code>
        </tab>
        <tab title="TypeScript">
            <show-code language="typescript" [skinDirectory]="showCodeSkinDirectory">plainValueChanged(event, container:any) {
    var el = this.getElement(container);
    el.innerText = event.startValue;
}

getElement(data){
    if (typeof(data)=='string') {
        return document.getElementById(data);
    }
    if (typeof(data)=='object' && data instanceof Element) {
        return data;
    }
    return null;
}</show-code>
        </tab>
    </tabset>

</div>
<div class="variant-block">
    <div class="variant-header" >
        <h2>Slider styling using <i>"rangeRibbonStyle"</i>, <i>"rangeRibbonStyle"</i> and <i>"rangeRibbonStyle"</i> attributes. <b>DEPRECATED.</b></h2>
    </div>
    <div class="block-description">
        <p>This styling method is deprecated, but will remain few next versions for backward compatibility.</p>
        <p>Better way is using "styled" directive by <a href="#styleBlockStyledDirective">"styleBlock" attribute</a> or <a href="#skinStyledDirective">"skin" attribute</a>, see example lower.</p>
    </div>
    <ng2-slider
            #range
            min="0"
            max="150"
            startValue="0"
            endValue="150"
            stepValue="5"
            [rangeRibbonStyle] = "{
                    'height': '2px',
                    'border': 'none',
                    'top': '12px',
                    'background': 'orange'
            }"
            [normalHandlerStyle]="{
                    'width': '24px',
                    'height': '24px',
                    'border-radius': '12px',
                    'background': 'red',
                    'border': 'solid 8px blue'
            }"
            [slidingHandlerStyle]="{
                    'border': 'none',
                    'width': '2px',
                    'height': '26px',
                    'background-color': 'red'
                }"
            (onRangeChanged)="rangeValueChanged($event, 'range_2_start', 'range_2_end')">
    </ng2-slider>
    <p class="value-box">
        Values: <span class="value-span" id="range_2_start">0</span> - <span class="value-span" id="range_2_end">150</span>
    </p>

    <tabset>
        <tab title="HTML">
            <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[
<ng2-slider
        #range
        min="0"
        max="150"
        startValue="0"
        endValue="150"
        stepValue="5"
        [rangeRibbonStyle] = "{
                'height': '2px',
                'border': 'none',
                'top': '12px',
                'background': 'orange'
        }"
        [normalHandlerStyle] = "{
                'width': '24px',
                'height': '24px',
                'border-radius': '12px',
                'background': 'red',
                'border': 'solid 8px blue'
        }"
       [slidingHandlerStyle] = "{
            'border': 'none',
            'width': '2px',
            'height': '26px',
            'background-color': 'red'
        }"
        (onRangeChanged)="rangeValueChanged($event, 'range_2_start', 'range_2_end')">
</ng2-slider>]]>
<p class="value-box">
    Values: <span class="value-span" id="range_2_start">0</span> - <span class="value-span" id="range_2_end">150</span>
</p></show-code>
        </tab>
        <tab title="TypeScript">
            <show-code language="typescript" [skinDirectory]="showCodeSkinDirectory">rangeValueChanged(event, start:any, end:any) {
    var start_el = this.getElement(start);
    var end_el = this.getElement(end);
    start_el.innerText = event.startValue;
    end_el.innerText = event.endValue;
}

getElement(data){
    if (typeof(data)=='string') {
        return document.getElementById(data);
    }
    if (typeof(data)=='object' && data instanceof Element) {
        return data;
    }
    return null;
}</show-code>
        </tab>
    </tabset>

</div>
<div class="variant-block">
    <div class="variant-header" id="styleBlockStyledDirective">
        <h2>Slider styling using <a href="https://github.com/Bogdan1975/ng2-styled-directive"><b>"styled" directive</b></a>.</h2>
    </div>
    <div class="block-description">
        <p>Now right way to styling slider component is using "styled" directive. Below is example with using "styleBlock" attribute of "styled" directive.</p>
        <p>The styles defined by "styleBlock" will overwrite styles defined by skin ("default" in case of 'skin' attribute not setted). If you don't want to have skins style, you must set "skin" to "none" value.</p>
    </div>
    <ng2-slider
            styled
            [styleBlock] = "[
            '.range-ribbon {left: 0%; width: 100%; height: 4px; border: solid 1px; position: absolute; top: 7px;}',
            '.slider-handle {width: 8px; height: 18px; border: solid 1px black; position: absolute; background-color: orange;}',
            '.slider-handle.sliding {width: 2px; border: none; background-color: red;}'
            ]"
            min="0"
            max="150"
            startValue="0"
            endValue="150"
            (onRangeChanged)="rangeValueChanged($event, 'range_3_start', 'range_3_end')">
    </ng2-slider>
    <p class="value-box">
        Values: <span class="value-span" id="range_3_start">0</span> - <span class="value-span" id="range_3_end">150</span>
    </p>

    <tabset>
        <tab title="HTML">
            <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider
        styled
        [styleBlock] = "[
            '.range-ribbon {left: 0%; width: 100%; height: 4px; border: solid 1px; position: absolute; top: 7px;}',
            '.slider-handle {width: 8px; height: 18px; border: solid 1px black; position: absolute; background-color: orange;}',
            '.slider-handle.sliding {width: 2px; border: none; background-color: red;}'
        ]"
        min="0"
        max="150"
        startValue="0"
        endValue="150"
        (onRangeChanged)="rangeValueChanged($event, 'range_3_start', 'range_3_end')">
</ng2-slider>]]>
<p class="value-box">
    Values: <span class="value-span" id="range_3_start">0</span> - <span class="value-span" id="range_3_end">150</span>
</p></show-code>
        </tab>
        <tab title="TypeScript">
            <show-code language="typescript" [skinDirectory]="showCodeSkinDirectory">rangeValueChanged(event, start:any, end:any) {
    var start_el = this.getElement(start);
    var end_el = this.getElement(end);
    start_el.innerText = event.startValue;
    end_el.innerText = event.endValue;
}

getElement(data){
    if (typeof(data)=='string') {
        return document.getElementById(data);
    }
    if (typeof(data)=='object' && data instanceof Element) {
        return data;
    }
    return null;
}</show-code>
        </tab>
    </tabset>

</div>
<div class="variant-block" id="skinStyledDirective">
    <div class="variant-header">
        <h2>Slider styling using embeded skins.</h2>
    </div>
    <div class="block-description">
        <p>The easiest way to styling slider component is using embeded skins. In this version (1.0.2) component have skins: "default", "simple-1", "elegance-1", "elegance-2", "rear-sight"</p>
        <p>"skin" attribute processed by "styled" directive, but applying of this directive is not required - if "skin" is setted, "styled" will be applied automaticaly</p>
    </div>

    <h4>"default"</h4>
    <ng2-slider
            min="0"
            max="150">
    </ng2-slider>

<show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider
        min="0"
        max="150">
</ng2-slider>]]></show-code>

    <h4>"simple-1"</h4>
    <ng2-slider
            skin="simple-1"
            min="0"
            max="150">
    </ng2-slider>

    <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider
        skin="simple-1"
        min="0"
        max="150">
</ng2-slider>]]></show-code>

    <h4>"elegance-1"</h4>
    <ng2-slider
            skin="elegance-1"
            min="0"
            max="150">
    </ng2-slider>

    <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider
        skin="elegance-1"
        min="0"
        max="150">
</ng2-slider>]]></show-code>

    <h4>"elegance-2"</h4>
    <ng2-slider
            skin="elegance-2"
            min="0"
            max="150">
    </ng2-slider>

    <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider
        skin="elegance-2"
        min="0"
        max="150">
</ng2-slider>]]></show-code>

    <h4>"rear-sight"</h4>
    <ng2-slider
            skin="rear-sight"
            min="0"
            max="150">
    </ng2-slider>

    <show-code [skinDirectory]="showCodeSkinDirectory"><![CDATA[<ng2-slider
        skin="rear-sight"
        min="0"
        max="150">
</ng2-slider>]]></show-code>

</div>